.App {
  text-align: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.App h1 {
  font-size: 45px;
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  transform: scaleY(3);
  color: rgba(255, 132, 132, 0.623);
}